---
title: Billy Ramos
---
%section#top.what-is
	.container
		%h2.what-is-title.text-center
			Billy the kid
		.row
			.col-md-10.col-md-push-1
				.what-is-row.clearfix
					= icon("what-is-icon-1", "what-is-icon", { label: "Create websites for your GitLab Projects" })
					%p.what-is-content
						Learning how to do things with
						%a.js-scroll-to{ href: "#steps" } dnx core
				.what-is-row.clearfix
					= icon("what-is-icon-3", "what-is-icon", { label: "Use any static website generator" })
					%p.what-is-content
						Use any static website generator: Jekyll, Middleman, Hexo, Hugo, Pelican, and more.
				.what-is-row.clearfix
					= icon("what-is-icon-2", "what-is-icon", { label: "Connect custom domains or SSL certificates" })
					%p.what-is-content
						Connect your custom domain and SSL certificates.
				.what-is-row.clearfix
					= icon("what-is-icon-4", "what-is-icon", { label: "Host for free on GitLab.com" })
					%p.what-is-content
						Host your static websites on GitLab.com for free, or on your own GitLab EE instance.
		.text-center
			%a.get-started.js-scroll-to{ href: "#steps" }
				Don't Panic
				%i.fa.fa-angle-down
%section#steps.steps
	.step.js-step
		.container
			.step-icon-container
				= icon("step-1-icon", "step-icon", { label: "Learning how to do things with dnx core" })
				%span.step-number.text-center
					[ step 01 ]
			.row
				.col-md-10.col-md-push-1.step-content-holder
					%h3.step-title.text-center
						Learning how to do things with dnx core
					.lead.text-center.step-lead-text
						1. Create <strong>project.json</strong> file
					%pre.code.language-javascript.line-numbers
						:preserve
							{
								"frameworks": {
									"dnxcore50": {
										"dependencies": {
											"System.Console": "4.0.0-beta-*"
										}
									}
								}
							}
					.lead.text-center.step-lead-text
						and create <strong>Program.cs</strong> file
					%pre.code.language-javascript.line-numbers
						:preserve
							using System;

							public class Program
							{
								public void Main()
								{
									Console.WriteLine("Hello World");
								}
							}
					.row.row-eq-height
						.col-md-12
							= image_tag "dnx.png", class: "img-responsive"
			.text-center
				%a.get-started.js-scroll-to{ href: "#top" }
					Back to top
					%i.fa.fa-angle-up
	.step.js-step
		.container
			.step-icon-container
				= icon("step-2-icon", "step-icon", { label: "Restore packages" })
				%span.step-number.text-center
					[ step 02 ]
			.row
				.col-md-10.col-md-push-1.step-content-holder
					%h3.step-title.text-center
						Restore packages
					.lead.text-center.step-lead-text
						We need the <strong>System</strong> namespace.
					.row.row-eq-height
						.col-md-6
							= image_tag "dnx_cli.jpg", class: "img-responsive"
						.col-md-6.step-content
							:markdown
								**dnu restore**
			.text-center
				%a.get-started.js-scroll-to{ href: "#top" }
					Back to top
					%i.fa.fa-angle-up
	.step.js-step
		.container
			.step-icon-container
				= icon("step-3-icon", "step-icon step-icon-3", { label: "Run your project" })
				%span.step-number.text-center
					[ step 03 ]
			.row
				.col-md-10.col-md-push-1.step-content-holder
					%h3.step-title.text-center
						Run your project
					.lead.text-center.step-lead-text
						:markdown
							tbd
					.row.row-eq-height
						.col-md-6.col-md-push-6
							= image_tag "rename-repo.png", class: "img-responsive"
						.col-md-6.col-md-pull-6.step-content
							:markdown
								tbd
			.text-center
				%a.get-started.js-scroll-to{ href: "#top" }
					Back to top
					%i.fa.fa-angle-up
	.step.js-step
		.container
			.step-icon-container
				= icon("step-4-icon", "step-icon", { label: "Edit your site" })
				%span.step-number.text-center
					[ step 04 ]
			.row
				.col-md-10.col-md-push-1.step-content-holder
					%h3.step-title.text-center
						Edit your site
					.lead.text-center.step-lead-text
						:markdown
							Commit & push at least one change in order to trigger the build
							process. You can edit your site files
							[right from the browser](http://doc.gitlab.com/ce/workflow/web_editor.html),
							or use Git from the command line.
					.row.row-eq-height
						.col-md-6
							= image_tag "edit.png", class: "img-responsive"
						.col-md-6.step-content
							:markdown
								Edit your site directly in GitLab from your browser.
					.row.row-eq-height
						.col-md-6
							= image_tag "build.png", class: "img-responsive"
						.col-md-6.step-content
							:markdown
								Once you commit the changes, the build process will begin and
								your site will eventually be available online.
			.text-center
				%a.get-started.js-scroll-to{ href: "#top" }
					Back to top
					%i.fa.fa-angle-up
	.step.js-step
		.container
			.step-icon-container
				= icon("step-5-icon", "step-icon", { label: "Visit your site" })
				%span.step-number.text-center
					[ step 05 ]
			.row
				.col-md-10.col-md-push-1.step-content-holder
					%h3.step-title.text-center
						Visit your site!
					.lead.text-center.step-lead-text.step-lead-text-last
						:markdown
							Fire up your browser and visit **https://_username_.gitlab.io/_projectname_**
							or **https://_username_.gitlab.io** depending on what you followed
							in step 3.
			.text-center
				%a.get-started.js-scroll-to{ href: "#top" }
					Back to top
					%i.fa.fa-angle-up
%section.learn-about
	.container
		.row
			.col-md-10.col-md-push-1
				%h2.learn-about-title.text-center
					Learn more about GitLab Pages
				.row.js-learn-more
					.col-md-4.learn-about-content
						%a{ href: "https://gitlab.com/groups/pages" }
							= image_tag "engines-pages.png", class: "img-responsive"
						%p.text-center
							Use with any static website generator.
					.col-md-4.learn-about-content
						%a{ href: "http://doc.gitlab.com/ee/pages/README.html#add-a-custom-domain-to-your-pages-website" }
							= image_tag "secure.png", class: "img-responsive"
						%p.text-center
							Add multiple custom domains and secure them with your own
							= succeed '.' do
								%a{href: "http://doc.gitlab.com/ee/pages/README.html#secure-your-custom-domain-website-with-tls"}
									TLS certificates
					.col-md-4.learn-about-content
						%a{ href: "http://doc.gitlab.com/ee/pages/README.html#custom-error-codes-pages" }
							= image_tag "404.png", class: "img-responsive"
						%p.text-center
							Create custom error pages.
